html, body {
     margin: 0;
     padding: 0;
 }
body {
    width:100%;
    background-color: white;
}
header {
    top: 0;
    padding: 0;
    width: 100%;
    height:60px;
    position: fixed;
    z-index:1;
    color: #fff;

}
ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;

}

ul.topnav li.icon {
    display: none;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}
ul.topnav li a:hover {
    color: deepskyblue;
}
ul.topnav li.icon {
    isplay: none;
}
p{
    font-size: 20px;
}
/*
.logo{
    margin-left: 20px;
    margin-top: 0px;
    display: block;
    float: left;
    height:60px;
    width: 100px;
    background-image: url("img/dw_logotyp.jpg");
    background-size: contain;
    background-repeat: no-repeat;

}*/
.logo {
    display: block;
    float: left;
    position: relative;
    color: #000;
    height: 60px;
    width:200px;
    font-family:"Times New Roman";
}
.logo h6{
    font-weight: lighter;
    font-size: 30px;
    left: 45px;
    top: -80px;
    position: absolute;
}
.topnav h6 span{
    display: inline-block;
    transform: scaleX(-1);
    filter: FlipH;
}
.topnav h6{
    font-family: "Times New Roman";
    font-weight: lighter;
    font-size: 30px;
    left: 45px;
    top: -65px;
    position: absolute;
}
.logo h6 span{
    display: inline-block;
    transform: scaleX(-1);
    filter: FlipH;
}
.logo p{
    font-size:14px;
    position: absolute;
    top: 5px;
    left:20px;
}
header div a {
    height:50px;
    width:70px;
    color: #595959;
    text-decoration: none;
}
ul li {
    display: inline-block;
    float: right;
    margin-left:30px;
    margin-right:30px;
    font-family: Calibri;
}


/*

*********************Clock************************

*/





.outer_face {
    position: relative;
    width: 220px; /* width of clock */
    height: 220px; /* height of clock */
    /*border-radius: 200px; /clock round corner radius
    background: white;
    box-shadow: inset 0 0 10px gray;
    border: 0 solid gray; thickness of outer border */
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
}
.bg {
    position: relative;
    width: 420px; /* width of clock */
    height: 520px; /* height of clock */
    /*border-radius: 200px; /clock round corner radius
    background: white;
    box-shadow: inset 0 0 10px gray;
    border: 0 solid gray; thickness of outer border */
    background-image: url("klocka2.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left:auto;
    margin-right:auto;
}
.outer_face::before, .outer_face::after, .outer_face .marker { /* time markers syle */
    content: "";
    position: absolute;
    width: 8px; /* width of 12-6 and 3-9 markers */
    height: 100%;

    z-index: 0;
    left: 50%;
    margin-left: -4px; /* set this value of 1/2 marker width */
    top: 0
}

.outer_face::after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.outer_face .marker {

    width: 6px; /* width of all other markers */
    margin-left: -3px /* set this value of 1/2 marker width */
}

.outer_face .marker.oneseven {
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg)
}

.outer_face .marker.twoeight {
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg)
}

.outer_face .marker.fourten {
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg)
}

.outer_face .marker.fiveeleven {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg)
}

.inner_face {
    position: relative;
    width: 88%;
    height: 88%;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    z-index: 1000;
    left: 58.3%; /* set this value of 1/2 width value*/
    top: 72.5% /* set this value of 1/2 height value*/
}

.inner_face::before {
    /* clock center circle small */
    content: "";
    width: 8px; /* width of inner circle */
    height: 8px; /* height of inner circle */
    border-radius: 18px;
    margin-left: -5px; /* set this value of 1/2 width value*/
    margin-top: -5px; /* set this value of 1/2 height value*/
    background-image: url("circle-center.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
}

.hand, .hand.hour {
    position: absolute;
    width: 3px; /* width of hour hand */
    height: 30%; /* height of hour hand */
    top: 20%; /* set top to 50% - height */
    left: 50%;
    margin-left: -2px; /* set this value to 1/2 width */
    /*background: #a4714b;*/
    background-image: url("hour.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    z-index: -1;
}

.hand.minute {
    background-image: url("minute2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%; /* height of min hand */
    top: 5%; /* set top to 50% - height */
    width: 3px; /* width of min hand */
    margin-left: -2.5px; /* set this value to 1/2 width */
}

.hand.second {
    height: 50%; /* height of sec hand */
    width: 2px; /* width of sec hand */
    margin-left: -1px; /* set this value to 1/2 width */
    top: 0;
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}














/*

****************Cock End**********************

*/













.container {
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}.banner-container {
    width:98%;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    display: block;
    float: none;
    clear: both;

 }
.banner {
    display: block;
    float: left;
    margin-top: 0px;
    height: 100%;
    width:100%;
    background-position: center top;
    background-image: url("img/klocka.png");
    background-size: auto;
    background-repeat: no-repeat;
}

h2 {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    color: #555555;
}
h3 {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    color: #555555;
    margin-top: -20px;
}
.banner div {
    height:200px;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    padding-top:100px;
    font-family: "Montserrat";
}
.banner h2 {

    margin-left: auto;
    margin-right:auto;
    color: white;
    display: block;
    clear: both;
    font-size: 100px;
}
.banner h2 span {
    display: inline-block;
    transform: scaleX(-1);
    filter: FlipH; /* IE 6-7-8 */
}
.banner h3 {
    margin:0;
    padding:0;
    margin-top:-100px;
    margin-left:-6px;
    text-align: center;
    color: white;
    display: block;
    clear: both;
    font-size: 25px;

}
.text-box {
    font-family: Calibri;
    display: block;
    clear: both;
    width:40%;
    margin-left:auto;
    margin-right:auto;
    margin-top:300px;
    color: #777777;
    overflow: hidden;
}
.text-box h5 {
    margin-bottom:10px;
    color: deepskyblue;
    text-align: left;
    font-size: 20px;
}
.text-box p {
    margin: 0;
    padding:0;
    background-clip: content-box;
    text-align: left;

}
.text-box div:nth-child(1) {
    width:100%;
    height:auto;
    display: block;
    float: left;

}

.text-box div:nth-child(2) {
    width:40%;
    height:auto;
    display: block;
    float: left;
}
#projects {
    margin-top:50px;
    margin-bottom:200px;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    color: #555555;
    font-size: 30px;
}
.info-box{
    width:100%;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:700px;
    margin-bottom:20px;
    display: block;
    float: none;
    clear: both;
    background-color: white;


}
.info-box-left {
    width:32%;
    height:100%;
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left:1.3%;
    background-color: white;
}
.info-box-right {
    width:64%;
    height:100%;
    margin-left:1.2%;
    box-sizing: border-box;
    display: block;
    float: left;
    background-color: white;
}
.info-box .info-box-left div{
    height:100%;
    width: 100%;
    background-image: url("img/bild1.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    float: left;
    text-align: center;
    color: #fff;
    font-family: Calibri;
    font-weight:bold;


}
.info-box .info-box-right div:nth-child(1) {
    height:100%;
    width: 49%;
    background-image: url("img/bild2.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    float: left;
    text-align: center;
    color: #fff;
    font-family: Calibri;
    font-weight:bold;
}
.info-box .info-box-right div:nth-child(2) {
    height:100%;
    width: 49%;
    background-image: url("img/bild3.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    float: left;
    text-align: center;
    color: #fff;
    font-family: Calibri;
    font-weight:bold;
    margin-left:2%;
}
.info-box .info-box-left p {
    margin-top: 30%;
}
.info-box .info-box-right p {
    margin-top: 15%;
}
.video-box {
    display: block;
    float: none;
    clear: both;
    position: relative;
    width:100%;
    height:600px;
    background-color: #060419;
}
.video-box div:nth-child(1) {
    display: block;
    float: left;
    width:50%;
    height:100%;
}
.video-box div:nth-child(2) {
    display: block;
    float: left;
    width:50%;
    height:100%;

}
.video-box-text h4 {
    margin-top:25%;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family: 'Julius Sans One', sans-serif;
}
.video-box-text p {
    color: #fff;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right:auto;
    font-family: Calibri;

}
#ytplayer {
    display: block;
    float: left;
   /*width:929.28px;
    height:522.72px;
*/
    width:704px;
    height:396px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);

}
footer{
    display: block;
    float: none;
    clear: both;
    bottom:0;
    height: auto;
    padding-top:20px;
    padding-bottom: 10px;
    width:100%;
    background-color: white;
}
#footer-logo {
    display: block;
    float: none;
    clear: both;
    color: #000;
    height: 60px;
    width:100%;
    font-family:"Times New Roman";
    padding-top:20px;
    padding-bottom: 20px;
}
#footer-logo h6{
    margin: 0;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}
#footer-logo h6 span{
    display: inline-block;
    transform: scaleX(-1);
    filter: FlipH;
}
#footer-logo p {
    margin: 0;
    font-size:14px;
    top: 0px;
    color: #000;
    text-align: center;
}

/*
#footer-logo {
    padding-top: 20px;
    width: 100px;
    height: 50px;
    background-image: url("img/dw_logotyp.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}


*/
#dwtech {
    display: block;
    float: none;
    clear: both;
    border-top:1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    height:40px;
    width:100%;
    text-align: center;
    padding-top:20px;
    font-family:Calibri;
    color: #777777;

}
#dwtech p {

}
#DW {
    padding-top:20px;
    height: 30px;
    width:100%;
    text-align: center;
    color: #333333;
    font-family:Calibri;
    display: block;
    float: none;
    clear: both;
    font-weight:bold;
}































@media screen and (max-width: 1450px) {
        html, body {
        margin: 0;
        padding: 0;
    }
    body {
        width: 100%;
        box-sizing: border-box;
    }
    header {
        top: 0;
        padding: 0;
        width: 100%;
        height:60px;
        position: fixed;
        z-index:1;
        color: #fff;

    }
    ul.topnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    ul.topnav li {float: left;}

    ul.topnav li a {
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;

    }

    ul.topnav li.icon {
        display: none;
    }
    p{
        font-size: 20px;
    }
    /*
    .logo{
        margin-left: 20px;
        margin-top: 0px;
        display: block;
        float: left;
        height:60px;
        width: 100px;
        background-image: url("img/dw_logotyp.jpg");
        background-size: contain;
        background-repeat: no-repeat;

    }*/
    .logo {
        display: block;
        float: left;
        position: relative;
        color: #000;
        height: 60px;
        width:200px;
        font-family:"Times New Roman";
    }
    .logo h6{
        font-weight: lighter;
        font-size: 30px;
        left: 45px;
        top: -80px;
        position: absolute;
    }
    .logo h6 span{
        display: inline-block;
        transform: scaleX(-1);
        filter: FlipH;
    }
    .logo p{
        font-size:14px;
        position: absolute;
        top: 5px;
        left:20px;
    }
    header div a {
        height:50px;
        width:70px;
        color: #595959;
        text-decoration: none;
    }
    ul li {
        display: inline-block;
        float: right;
        margin-left:30px;
        margin-right:30px;
        font-family: Calibri;
    }
    .container {
        width:100%;
        max-width: 100%;
        height:100%;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-container {
         width:98%;
         height:500px;
         margin-left:auto;
         margin-right:auto;
         display: block;
         float: none;
         clear: both;

     }
    .banner {
        display: block;
        float: left;
        margin-top: 0px;
        height: 100%;
        width:100%;
        background-position: center top;
        background-image: url("img/klocka.png");
        background-size: auto;
        background-repeat: no-repeat;
    }

    h2 {
        text-align: center;
        font-family: 'Julius Sans One', sans-serif;
        color: #555555;
    }
    h3 {
        text-align: center;
        font-family: 'Julius Sans One', sans-serif;
        color: #555555;
        margin-top: -20px;
    }
    .banner div {
        height:200px;
        width:200px;
        margin-left:auto;
        margin-right:auto;
        padding-top:100px;
        font-family: "Montserrat";
    }
    .banner h2 {

        margin-left: auto;
        margin-right:auto;
        color: white;
        display: block;
        clear: both;
        font-size: 100px;
    }
    .banner h2 span {
        display: inline-block;
        transform: scaleX(-1);
        filter: FlipH; /* IE 6-7-8 */
    }
    .banner h3 {
        margin:0;
        padding:0;
        margin-top:-100px;
        margin-left:-6px;
        text-align: center;
        color: white;
        display: block;
        clear: both;
        font-size: 25px;

    }
    .text-box {
        display: block;
        clear: both;
        width:60%;
        margin-left:auto;
        margin-right:auto;
        margin-top:100px;
        color: #777777;
        overflow: hidden;
    }
    .text-box h5 {
        margin-bottom:10px;
        color: deepskyblue;
        text-align: left;
        font-size: 20px;
    }
    .text-box p {
        margin: 0;
        padding:0;
        background-clip: content-box;
        text-align: left;

    }
    .text-box div:nth-child(1) {
        width:100%;
        height:auto;
        display: block;
        float: left;

    }
    .text-box div:nth-child(2) {
        width:40%;
        height:auto;
        display: block;
        float: left;
    }
    .info-box{
        width:100%;
        height:400px;
        margin-left:auto;
        margin-right:auto;
        margin-top:700px;
        margin-bottom:20px;
        display: block;
        float: none;
        clear: both;
        background-color: white;


    }
    .info-box-left {
        width:32%;
        height:100%;
        box-sizing: border-box;
        display: block;
        float: left;
        margin-left:1%;
        background-color: white;
    }
    .info-box-right {
        width:64%;
        height:100%;
        margin-left:1.2%;
        box-sizing: border-box;
        display: block;
        float: left;
        background-color: white;
    }
    .info-box .info-box-left div{
        height:100%;
        width: 100%;
        background-image: url("img/bild1.jpg");
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        float: left;
        text-align: center;
        color: #fff;
        font-family: Calibri;
        font-weight:bold;


    }
    .info-box .info-box-right div:nth-child(1) {
        height:100%;
        width: 49%;
        background-image: url("img/bild2.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        float: left;
        text-align: center;
        color: #fff;
        font-family: Calibri;
        font-weight:bold;
    }
    .info-box .info-box-right div:nth-child(2) {
        height:100%;
        width: 49%;
        background-image: url("img/bild3.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        float: left;
        text-align: center;
        color: #fff;
        font-family: Calibri;
        font-weight:bold;
        margin-left:2%;
    }
    .info-box .info-box-left p {
        margin-top: 30%;
    }
    .info-box .info-box-right p {
        margin-top: 15%;
    }
    .video-box {
        display: block;
        float: none;
        clear: both;
        position: relative;
        width:100%;
        height:800px;
        background-color: #060419;
        overflow: hidden;
    }
    .video-box div:nth-child(1) {
        display: block;
        float: none;
        clear: both;
        width:100%;
        height:65%;
        background-color: ;
    }
    .video-box div:nth-child(2) {
        display: block;
        float: none;
        clear: both;
        width:100%;
        height:35%;
        background-color: ;

    }
    .video-box-text h4 {
        margin: 0;
        padding: 0;
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-family: 'Julius Sans One', sans-serif;
    }
    .video-box-text p {
        color: #fff;
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right:auto;
        font-family: Calibri;

    }
    #ytplayer {
        display: block;
        float: left;
        /*width:929.28px;
         height:522.72px;
     */
        width:704px;
        height:396px;
        position: absolute;
        margin: auto;
        top: 30%;
        left: 50%;

    }
    footer{
        display: block;
        float: none;
        clear: both;
        bottom:0;
        height: auto;
        padding-top:20px;
        padding-bottom: 10px;
        width:100%;
        background-color: white;
    }
    #footer-logo {
        display: block;
        float: none;
        clear: both;
        color: #000;
        height: 60px;
        width:100%;
        font-family:"Times New Roman";
        padding-top:20px;
        padding-bottom: 20px;
    }
    #footer-logo h6{
        margin: 0;
        font-weight: lighter;
        font-size: 30px;
        text-align: center;
    }
    #footer-logo h6 span{
        display: inline-block;
        transform: scaleX(-1);
        filter: FlipH;
    }
    #footer-logo p {
        margin: 0;
        font-size:14px;
        top: 0px;
        color: #000;
        text-align: center;
    }

    /*
    #footer-logo {
        padding-top: 20px;
        width: 100px;
        height: 50px;
        background-image: url("img/dw_logotyp.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
    }


    */
    #dwtech {
        display: block;
        float: none;
        clear: both;
        border-top:1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        height:40px;
        width:100%;
        text-align: center;
        padding-top:20px;
        font-family:Calibri;
        color: #777777;

    }
    #dwtech p {

    }
    #DW {
        padding-top:20px;
        height: 30px;
        width:100%;
        text-align: center;
        color: #333333;
        font-family:Calibri;
        display: block;
        float: none;
        clear: both;
        font-weight:bold;
    }




}




























@media screen and (max-width:850px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:850px) {
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 850px) {
    html, body {
        margin: 0;
        padding: 0;
    }
    body {
        background-color: white;
    }
    header {
        top: 0;
        padding: 0;
        width: 100%;
        height:60px;
        position: fixed;
        background-color: #060419;

    }
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    p{
        font-size: 20px;
    }
    /*
    .logo{
        margin-left: 20px;
        margin-top: 0px;
        display: block;
        float: left;
        height:60px;
        width: 100px;
        background-image: url("img/dw_logotyp.jpg");
        background-size: contain;
        background-repeat: no-repeat;

    }*/
    .logo {
        display: block;
        float: left;
        position: relative;
        color: #000;
        height: 60px;
        width:200px;
        font-family:"Times New Roman";
    }
    .logo h6{
        font-weight: lighter;
        font-size: 30px;
        left: 45px;
        top: -80px;
        position: absolute;
    }
    .logo h6 span{
        display: inline-block;
        transform: scaleX(-1);
        filter: FlipH;
    }
    .logo p{
        font-size:14px;
        position: absolute;
        top: 5px;
        left:20px;
    }
    header div a {
        height:50px;
        width:70px;
        color: #595959;
        text-decoration: none;
    }
    ul li {
        display: inline-block;
        float: right;
        margin-left:30px;
        margin-right:30px;
        font-family: Calibri;
    }
    .container {
        width:100%;
        height:100%;
        margin-left: auto;
        margin-right: auto;
    }.banner-container {
         width:98%;
         height:500px;
         margin-left:auto;
         margin-right:auto;
         display: block;
         float: none;
         clear: both;

     }
    .banner {
        display: block;
        float: left;
        margin-top: 0px;
        height: 100%;
        width:100%;
        background-position: center top;
        background-image: url("img/klocka.png");
        background-size: auto;
        background-repeat: no-repeat;
    }

    h2 {
        text-align: center;
        font-family: 'Julius Sans One', sans-serif;
        color: #555555;
    }
    h3 {
        text-align: center;
        font-family: 'Julius Sans One', sans-serif;
        color: #555555;
        margin-top: -20px;
    }
    .banner div {
        height:200px;
        width:200px;
        margin-left:auto;
        margin-right:auto;
        padding-top:100px;
        font-family: "Montserrat";
    }
    .banner h2 {

        margin-left: auto;
        margin-right:auto;
        color: white;
        display: block;
        clear: both;
        font-size: 100px;
    }
    .banner h2 span {
        display: inline-block;
        transform: scaleX(-1);
        filter: FlipH; /* IE 6-7-8 */
    }
    .banner h3 {
        margin:0;
        padding:0;
        margin-top:-100px;
        margin-left:-6px;
        text-align: center;
        color: white;
        display: block;
        clear: both;
        font-size: 25px;

    }
    .text-box {
        display: block;
        clear: both;
        width:60%;
        margin-left:auto;
        margin-right:auto;
        margin-top:100px;
        color: #777777;
        overflow: hidden;
    }
    .text-box h5 {
        margin-bottom:10px;
        color: deepskyblue;
        text-align: left;
        font-size: 20px;
    }
    .text-box p {
        margin: 0;
        padding:0;
        background-clip: content-box;
        text-align: left;

    }
    .text-box div:nth-child(1) {
        width:100%;
        height:auto;
        display: block;
        float: left;

    }
    .text-box div:nth-child(2) {
        width:40%;
        height:auto;
        display: block;
        float: left;
    }
    .info-box{
        margin:0;
        width:100%;
        height:600px;
        margin-left:auto;
        margin-right:auto;
        margin-top:700px;
        margin-bottom:20px;
        display: block;
        float: none;
        clear: both;
        background-color: white;


    }
    .info-box-left {
        margin:0;
        width:100%;
        height:100%;
        box-sizing: border-box;
        display: block;
        float: left;
        clear: both;
        background-color: white;
    }
    .info-box-right {
        margin:0;
        height:100%;
        width:100%;
        box-sizing: border-box;
        display: block;
        float: none;
        clear: both;
        background-color: white;
    }
    .info-box .info-box-left div{
        height:100%;
        width: 100%;
        background-image: url("img/bild1.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;



    }
    .info-box .info-box-right div:nth-child(1) {
        height:100%;
        width: 100%;
        background-image: url("img/bild2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        float: left;
        clear: both;
        text-align: center;
        color: #fff;
        font-family: Calibri;
        font-weight:bold;
    }
    .info-box .info-box-right div:nth-child(2) {
        margin:0;
        height:100%;
        width: 100%;
        background-image: url("img/bild3.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        float: left;
        clear: both;
        text-align: center;
        color: #fff;
        font-family: Calibri;
        font-weight:bold;
    }
    .video-box {
        display: block;
        float: none;
        clear: both;
        position: relative;
        width:100%;
        height:800px;
        background-color: #060419;
        overflow: hidden;
    }
    .video-box div:nth-child(1) {
        display: block;
        float: none;
        clear: both;
        width:100%;
        height:65%;
        background-color: ;
    }
    .video-box div:nth-child(2) {
        display: block;
        float: none;
        clear: both;
        width:100%;
        height:35%;
        background-color: ;

    }
    .video-box-text h4 {
        margin: 0;
        padding: 0;
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-family: 'Julius Sans One', sans-serif;
    }
    .video-box-text p {
        color: #fff;
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right:auto;
        font-family: Calibri;

    }
    #ytplayer {
        display: block;
        float: left;
        /*width:929.28px;
         height:522.72px;
     */
        width:704px;
        height:396px;
        position: absolute;
        margin: auto;
        top: 30%;
        left: 50%;
        overflow: hidden;

    }
    footer{
        display: block;
        float: none;
        clear: both;
        bottom:0;
        height: auto;
        padding-top:20px;
        padding-bottom: 10px;
        width:100%;
        background-color: white;
    }
    #footer-logo {
        display: block;
        float: none;
        clear: both;
        color: #000;
        height: 60px;
        width:100%;
        font-family:"Times New Roman";
        padding-top:20px;
        padding-bottom: 20px;
    }
    #footer-logo h6{
        margin: 0;
        font-weight: lighter;
        font-size: 30px;
        text-align: center;
    }
    #footer-logo h6 span{
        display: inline-block;
        transform: scaleX(-1);
        filter: FlipH;
    }
    #footer-logo p {
        margin: 0;
        font-size:14px;
        top: 0px;
        color: #000;
        text-align: center;
    }

    /*
    #footer-logo {
        padding-top: 20px;
        width: 100px;
        height: 50px;
        background-image: url("img/dw_logotyp.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
    }


    */
    #dwtech {
        display: block;
        float: none;
        clear: both;
        border-top:1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        height:40px;
        width:100%;
        text-align: center;
        padding-top:20px;
        font-family:Calibri;
        color: #777777;

    }
    #dwtech p {

    }
    #DW {
        padding-top:20px;
        height: 30px;
        width:100%;
        text-align: center;
        color: #333333;
        font-family:Calibri;
        display: block;
        float: none;
        clear: both;
        font-weight:bold;
    }




}



































@media screen and (max-width: 650px) {
    html, body {
        margin: 0;
        padding: 0;
    }
    body {
        max-width: 100%;
    }
    header {
        top: 0;
        padding: 0;
        width: 100%;
        height:60px;
        position: fixed;
        background-color: white;

    }
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }

    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }

    p{
        font-size: 20px;
    }
    /*
    .logo{
        margin-left: 20px;
        margin-top: 0px;
        display: block;
        float: left;
        height:60px;
        width: 100px;
        background-image: url("img/dw_logotyp.jpg");
        background-size: contain;
        background-repeat: no-repeat;

    }*/
    .logo {
        display: block;
        float: left;
        position: relative;
        color: #000;
        height: 60px;
        width:200px;
        font-family:"Times New Roman";
    }
    .logo h6{
        font-weight: lighter;
        font-size: 30px;
        left: 45px;
        top: -80px;
        position: absolute;
    }
    .logo h6 span{
        display: inline-block;
        transform: scaleX(-1);
        filter: FlipH;
    }
    .logo p{
        font-size:14px;
        position: absolute;
        top: 5px;
        left:20px;
    }

    .container {
        width:100%;
        height:100%;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-container {
        margin-top: -20px;
         width:98%;
         height:300px;
         margin-left:auto;
         margin-right:auto;
         display: block;
         float: none;
         clear: both;


     }
    .banner {
        display: block;
        float: left;
        margin-top: 20px;
        height: 100%;
        width:100%;
        background-position: center top;
        background-image: url("img/klocka.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .title {
        width:100%;
        height:50px;
        margin-top:0px;
    }
    h2 {
        margin: 0;
        padding:0;
        height:70px;
        text-align: center;
        font-family: 'Julius Sans One', sans-serif;
        color: #555555;
    }
    h3 {
        text-align: center;
        font-family: 'Julius Sans One', sans-serif;
        color: #555555;
        margin-top: -20px;
    }
    .banner div {
        height:200px;
        width:200px;
        margin-left:auto;
        margin-right:auto;
        padding-top:100px;
        font-family: "Montserrat";
    }
    .banner h2 {

        margin-left: auto;
        margin-right:auto;
        color: white;
        display: block;
        clear: both;
        font-size: 100px;
    }
    .banner h2 span {
        display: inline-block;
        transform: scaleX(-1);
        filter: FlipH; /* IE 6-7-8 */
    }
    .banner h3 {
        margin:0;
        padding:0;
        margin-top:-100px;
        margin-left:-6px;
        text-align: center;
        color: white;
        display: block;
        clear: both;
        font-size: 25px;

    }
    .text-box {
        display: block;
        clear: both;
        width:80%;
        margin-left:auto;
        margin-right:auto;
        margin-top:100px;
        color: #777777;
        overflow: hidden;
    }
    .text-box h5 {
        margin-bottom:10px;
        color: deepskyblue;
        text-align: left;
        font-size: 20px;
    }
    .text-box p {
        margin: 0;
        padding:0;
        background-clip: content-box;
        text-align: left;

    }
    .text-box div:nth-child(1) {
        width:100%;
        height:auto;
        display: block;
        float: left;

    }
    .text-box div:nth-child(2) {
        width:40%;
        height:auto;
        display: block;
        float: left;
    }
    .info-box{
        margin:0;
        width:100%;
        height:600px;
        margin-left:auto;
        margin-right:auto;
        margin-top:700px;
        margin-bottom:20px;
        display: block;
        float: none;
        clear: both;
        background-color: white;


    }
    .info-box-left {
        margin:0;
        width:100%;
        height:100%;
        box-sizing: border-box;
        display: block;
        float: left;
        clear: both;
        background-color: white;
    }
    .info-box-right {
        margin:0;
        height:100%;
        width:100%;
        box-sizing: border-box;
        display: block;
        float: none;
        clear: both;
        background-color: white;
    }
    .info-box .info-box-left div{
        height:100%;
        width: 100%;
        background-image: url("img/bild1.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;



    }
    .info-box .info-box-right div:nth-child(1) {
        height:100%;
        width: 100%;
        background-image: url("img/bild2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        float: left;
        clear: both;
        text-align: center;
        color: #fff;
        font-family: Calibri;
        font-weight:bold;
    }
    .info-box .info-box-right div:nth-child(2) {
        margin:0;
        height:100%;
        width: 100%;
        background-image: url("img/bild3.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        float: left;
        clear: both;
        text-align: center;
        color: #fff;
        font-family: Calibri;
        font-weight:bold;
    }
    iframe {
        overflow: hidden;
    }
    .video-box {
        display: block;
        float: none;
        clear: both;
        position: relative;
        width:100%;
        height:600px;
        background-color: #060419;
        overflow: hidden;
    }
    .video-box div:nth-child(1) {
        display: block;
        float: none;
        clear: both;
        width:100%;
        height:55%;
    }
    .video-box div:nth-child(2) {
        display: block;
        float: none;
        clear: both;
        width:100%;
        height:35%;
        background-color: #060419;

    }
    .video-box-text h4 {
        margin: 0;
        padding: 0;
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-family: 'Julius Sans One', sans-serif;
    }
    .video-box-text p {
        color: #fff;
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right:auto;
        font-family: Calibri;

    }
    #ytplayer {
        display: block;
        float: left;
        /*width:929.28px;
         height:522.72px;
     */
        width:90%;
        height:40%;
        position: absolute;
        margin: auto;
        top: 30%;
        left: 50%;
        overflow: hidden;

    }
    footer{
        display: block;
        float: none;
        clear: both;
        bottom:0;
        height: auto;
        padding-top:20px;
        padding-bottom: 10px;
        width:100%;
        background-color: white;
    }
    #footer-logo {
        display: block;
        float: none;
        clear: both;
        color: #000;
        height: 60px;
        width:100%;
        font-family:"Times New Roman";
        padding-top:20px;
        padding-bottom: 20px;
    }
    #footer-logo h6{
        margin: 0;
        font-weight: lighter;
        font-size: 30px;
        text-align: center;
    }
    #footer-logo h6 span{
        display: inline-block;
        transform: scaleX(-1);
        filter: FlipH;
    }
    #footer-logo p {
        margin: 0;
        font-size:14px;
        top: 0px;
        color: #000;
        text-align: center;
    }

    /*
    #footer-logo {
        padding-top: 20px;
        width: 100px;
        height: 50px;
        background-image: url("img/dw_logotyp.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
    }


    */
    #dwtech {
        display: block;
        float: none;
        clear: both;
        border-top:1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        height:40px;
        width:100%;
        text-align: center;
        padding-top:20px;
        font-family:Calibri;
        color: #777777;

    }
    #dwtech p {

    }
    #DW {
        padding-top:20px;
        height: 30px;
        width:100%;
        text-align: center;
        color: #333333;
        font-family:Calibri;
        display: block;
        float: none;
        clear: both;
        font-weight:bold;
    }




}